@import "_vars";
@import "//scss/main.scss";


.containerD{
    padding: 150px 0;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 40px;
         .card__desc-img-body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
    }
.card__desc-img{
    width: 15px;
    height: 15px;
    display: block;
}
.cardD{
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 5px solid $colorSeis;
    .card_title{
        text-align: center;
        padding: 20px 0;
    
    }
    .card__price-body{
        display: flex;
        align-items: center;
        justify-content: center;
        .card__price-title{
            height: 110px;
            width: 110px;
            color: #fff;
            background: linear-gradient(45deg
            #039024, #00ff4e);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
                        .card_price-currency{
                            position: relative;
                            top: -10px;
                            font-size: 15px;
                        }
                        .card__price-value{
                            font-size: 45px;
                       }
        }
    }
    .card__button-body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card__button{
        text-decoration: none;
        padding: 10px 20px;
        background-color: $colorSeis;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 5px;
        transition: background-color 0.4s linear;
    }
    
    .card__button:hover{
        background-color: $colorSiete;
    }
    
    &:nth-child(2){
        transform: scale(1.1);
        border: 5px solid $colorOcho;
    }
    &:nth-child(2) .card__button{
        background-color: $colorOcho;
    }
    
    &:nth-child(2) .card__button:hover{
        background-color: #f3de11;
    }
    
    &:nth-child(2) .card__prince-title{
        background: linear-gradient(45deg, #c58600, #fbff00);
    }
    
    &:nth-child(3){
        border: 5px solid $colorNueve;
    }
    
    &:nth-child(3) .card__button{
        background-color: $colorNueve;
    }
    
    &:nth-child(3) .card__button:hover{
        background-color: #d211f3;
    }
    
    &:nth-child(3) .card__prince-title{
        background: linear-gradient(45deg, #510088, #ff008d);
    }
}}

.card__desc-body{
    padding: 20px 0;
}

.card_desc{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px
}

