// colores
$colorUno: white;
$colorDos: #8c2574;
$colorTres: #777777;
$colorCuatro: #f2f2f2;
$colorCinco: black;
$colorSeis: #17c501;
$colorSiete: #1ce503;
$colorOcho: #e3cf0b;
$colorNueve: #b40be3;

// centrado
@mixin center() {
    text-align: center;
}