body{
    font-family: 'Lato', sans-serif;
}


.contenedor{
    width: 90%;
    max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 60px 0;
}

.menu-navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo{
    height: 45px;
}

.logo img{
    display: block;
    height: 100%;
}

.enlaces li{
    list-style: none;
    display: inline-block;
}

.enlaces a{
    text-decoration: none;
    color: #000000;
    padding-left: 10px;
}

.hero{
    height: 500px;
    background-image: url(./img/alfa.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
text-align: center;
color: #ffffff;
}

.hero h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p{
font-size: 20px;
font-weight: 400;
margin-bottom: 20px;
}

.contenedor-textos{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    color: white;
}

.boton{
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    background: #8c2574;
    color: white;
    text-decoration: none;
     border-radius: 20px;
      
}

.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: black;
}

.copy{
    text-align: center;
    color: #777777;
    margin: 20px 0;
}

h2{
margin: 10px 0;
padding-bottom: 10px;
width: 180px;
color: black;
border-bottom: 3px solid black;
}

.container{
    padding: 150px 0;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

.card__desc-img-body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
}

.card__desc-img{
    width: 15px;
    height: 15px;
    display: block;
}

.card{
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 5px solid #17c501;
}

.card_title{
    text-align: center;
    padding: 20px 0;

}

.card__price-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__prince-title{
    height: 110px;
    width: 110px;
    color: #fff;
    background: linear-gradient(45deg
    #039024, #00ff4e);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card_price-currency{
    position: relative;
    top: -10px;
    font-size: 15px;
}

.card__price-value{
     font-size: 45px;
}

.card__desc-body{
    padding: 20px 0;
}

.card_desc{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px
}

.card__button-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #17c501;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: background-color 0.4s linear;
}

.card__button:hover{
    background-color: #1ce503;
}

.card:nth-child(2){
    transform: scale(1.1);
    border: 5px solid #e3cf0b;
}

.card:nth-child(2) .card__button{
    background-color: #e3cf0b;
}

.card:nth-child(2) .card__button:hover{
    background-color: #f3de11;
}

.card:nth-child(2) .card__prince-title{
    background: linear-gradient(45deg, #c58600, #fbff00);
}





.card:nth-child(3){
    border: 5px solid #b40be3;
}

.card:nth-child(3) .card__button{
    background-color: #b40be3;
}

.card:nth-child(3) .card__button:hover{
    background-color: #d211f3;
}

.card:nth-child(3) .card__prince-title{
    background: linear-gradient(45deg, #510088, #ff008d);
}












footer{
    background-color: #f2f2f2;
}

footer .footer-seccion{
    text-align: center;
    font-size: 25px;
    color: black; 
}
footer .copyR{
    color: black;
}

.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales i{
    font-size: 20px;
    padding: 0 20px;
}


@media (max-width: 600px){
    .card_desc-title{
        font-size: 14px;
    }
}
@media (max-width: 600px){
    .container{
        gap: 20px;
        margin: 0 10px;
    }
    .card:nth-child(2){
        transform: scale(1);
    }
}



@media screen and (max-width:768px){
    .menu-navegacion{
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
        font-size: 14px;
    }

    .form{
        width: 746px;
        margin: 2px;
}

.dii{
    width: 746px;
        margin: 19px;
}

    .hero h1{
        font-size: 36px;
        margin-top: 50px;
    }

    .hero p{
        font-size: 14px;
        font-weight: 400;
    }

    .boton{
        margin-bottom: 50px;
    }
    .beneficio{
        margin-bottom: 20px;
    }
    .beneficio2{
        margin-bottom: 20px;
    }
    .beneficio3{
        margin-bottom: 20px;
    }
    .beneficio4{
        margin-bottom: 20px;
    }
    .contenedor-imagenes img{
        width: 90%;
    }

    .copy{
        margin-bottom: 40px;
    }

}

